<a href="https://colab.research.google.com/github/Haidar0Muhammed/AI/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:


train_Survived = pd.DataFrame(train_data['Survived'])
train_data = train_data.drop(
    ['Embarked','Survived','PassengerId','Ticket','Name'],
    axis=1)
train_data['total'] = train_data['Parch'] + train_data['SibSp']

test_data = test_data.drop(
    ['Embarked','PassengerId','Ticket','Name'],
    axis=1)
test_data['total'] = test_data['Parch'] + test_data['SibSp']

In [6]:
def Cab(s):
  if s is np.NaN:
    return 0
  else:
    return 1

def SS(s):
  if s == 'male':
    return 0
  else:
    return 1

train_data['Sex'] = train_data['Sex'].apply(SS)
train_data['Cabin'] = train_data['Cabin'].apply(Cab)
train_data['Pclass'] = 1 - (train_data['Pclass'] / 3)

Mean_Age = train_data['Age'].mean()
train_data['Age'] = train_data.Age.fillna(Mean_Age)


#####################


test_data['Sex'] = test_data['Sex'].apply(SS)
test_data['Cabin'] = test_data['Cabin'].apply(Cab)
test_data['Pclass'] = 1 - (test_data['Pclass'] / 3)

Mean_Age = test_data['Age'].mean()
test_data['Age'] = test_data.Age.fillna(Mean_Age)

In [14]:
from sklearn.preprocessing import minmax_scale
train_data = minmax_scale(train_data)
train_data = pd.DataFrame(train_data)

test_data = minmax_scale(test_data)
test_data = pd.DataFrame(test_data)

In [15]:
train_data.head()

     0    1         2      3    4         5    6    7
0  0.0  0.0  0.271174  0.125  0.0  0.014151  0.0  0.1
1  1.0  1.0  0.472229  0.125  0.0  0.139136  1.0  0.1
2  0.0  1.0  0.321438  0.000  0.0  0.015469  0.0  0.0
3  1.0  1.0  0.434531  0.125  0.0  0.103644  1.0  0.1
4  0.0  0.0  0.434531  0.000  0.0  0.015713  0.0  0.0

In [16]:
test_data.head()

     0    1         2      3         4         5    6    7
0  0.0  0.0  0.452723  0.000  0.000000  0.015282  0.0  0.0
1  0.0  1.0  0.617566  0.125  0.000000  0.013663  0.0  0.1
2  0.5  0.0  0.815377  0.000  0.000000  0.018909  0.0  0.0
3  0.0  0.0  0.353818  0.000  0.000000  0.016908  0.0  0.0
4  0.0  1.0  0.287881  0.125  0.111111  0.023984  0.0  0.2

In [17]:
from sklearn.model_selection import train_test_split
Train_X, Test_X, Train_Y, Test_Y = train_test_split(train_data, train_Survived, test_size=0.2, random_state=42)

In [18]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT = DT.fit(Train_X, Train_Y)
DT_Pred = DT.predict(Test_X)

In [24]:
from sklearn.naive_bayes import GaussianNB
GNB = GaussianNB()
GNB = GNB.fit(Train_X, Train_Y)
GNB_Pred = GNB.predict(Test_X)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
from sklearn.metrics import accuracy_score, precision_score

print('precision: ',precision_score(Test_Y, DT_Pred))
print('accuracy:  ',accuracy_score(Test_Y, DT_Pred))

precision:  0.7066666666666667
accuracy:   0.7597765363128491

In [25]:
print('precision1: ',precision_score(Test_Y, GNB_Pred))
print('accuracy:  ',accuracy_score(Test_Y, GNB_Pred))

precision1:  0.7058823529411765
accuracy:   0.7821229050279329